<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <!-- Enable -->
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Settings</string>
                <key>footerText</key>
                <string>Group your notifications when notification center is closed</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false />
                <key>label</key>
                <string>Enabled</string>
                <key>key</key>
                <string>groupedIsEnabled</string>
                <key>defaults</key>
                <string>com.xyaman.takopreferences</string>
            </dict>

            <!-- Settings -->
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Settings</string>
                <key>footerText</key>
                <string>No respring required</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HBStepperTableCell</string>
                <key>default</key>
                <real>3</real>
                <key>defaults</key>
                <string>com.xyaman.takopreferences</string>
                <key>key</key>
                <string>groupedIconsCount</string>
                <key>label</key>
                <string>%i Máx. Icons</string>
                <key>max</key>
                <real>6</real>
                <key>min</key>
                <real>1</real>
                <key>singularLabel</key>
                <string>1 Máx. Icon</string>
                <key>PostNotification</key>
                <string>com.xyaman.takopreferences/ReloadPrefs</string>
            </dict>


        </array>
        <key>title</key>
        <string>Grouped View</string>
    </dict>
</plist>