<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>headerCellClass</key>
                <string>HBPackageNameHeaderCell</string>
                <key>condensed</key>
                <true />
                <key>icon</key>
                <string>icon.png</string>
                <key>packageIdentifier</key>
                <string>com.xyaman.tako</string>
                <key>footerText</key>
                <string>Notification priority hub</string>
                <key>footerAlignment</key>
                <integer>1</integer>
            </dict>

            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Settings</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false />
                <key>label</key>
                <string>Enabled</string>
                <key>key</key>
                <string>isEnabled</string>
                <key>defaults</key>
                <string>com.xyaman.takopreferences</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>label</key>
                <string>Test notifications</string>
                <key>action</key>
                <string>testNotifications:</string>
            </dict>

            <!-- Grouped -->
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Grouped</string>
                <key>footerText</key>
                <string>Respring required.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>label</key>
                <string>Grouped View</string>
                <key>detail</key>
                <string>TKOSubListController</string>
                <key>TKOSub</key>
                <string>GroupedView</string>
            </dict>

            <!-- Cell style -->
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Cells style</string>
                <key>footerText</key>
                <string>Respring required.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                </array>
                <key>validTitles</key>
                <array>
                    <string>Tako ugly for now</string>
                    <string>Axon grouped style</string>
                    <string>Full Icon</string>
                </array>
                <key>default</key>
                <integer>0</integer>
                <key>key</key>
                <string>cellStyle</string>
                <key>defaults</key>
                <string>com.xyaman.takopreferences</string>
            </dict>


            <!-- Sort by -->
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Sort nofications apps by</string>
                <key>footerText</key>
                <string>No respring required.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                </array>
                <key>validTitles</key>
                <array>
                    <string>Last Notification</string>
                    <string>Bundle Name</string>
                    <string>None</string>
                </array>
                <key>default</key>
                <integer>0</integer>
                <key>key</key>
                <string>sortBy</string>
                <key>defaults</key>
                <string>com.xyaman.takopreferences</string>
                <key>PostNotification</key>
                <string>com.xyaman.takopreferences/ReloadPrefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>When Notification Center is opened, select</string>
                <key>footerText</key>
                <string>No respring required.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                </array>
                <key>validTitles</key>
                <array>
                    <string>Previous</string>
                    <string>Last App</string>
                    <string>All Closed</string>
                </array>
                <key>default</key>
                <integer>1</integer>
                <key>key</key>
                <string>displayBy</string>
                <key>defaults</key>
                <string>com.xyaman.takopreferences</string>
                <key>PostNotification</key>
                <string>com.xyaman.takopreferences/ReloadPrefs</string>
            </dict>

            <!-- Other options -->
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Other options</string>
                <key>footerText</key>
                <string>Needs respring.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false />
                <key>label</key>
                <string>Force Centering</string>
                <key>key</key>
                <string>forceCentering</string>
                <key>defaults</key>
                <string>com.xyaman.takopreferences</string>
            </dict>

            <!-- Other -->
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Other</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HBTwitterCell</string>
                <key>label</key>
                <string>Xyaman</string>
                <key>user</key>
                <string>xyamanDEV</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HBLinkTableCell</string>
                <key>label</key>
                <string>Donate me</string>
                <key>subtitle</key>
                <string>Help support future development</string>
                <key>url</key>
                <string>https://paypal.me/xyamandev</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HBLinkTableCell</string>
                <key>label</key>
                <string>Source Code</string>
                <key>subtitle</key>
                <string>Github</string>
                <key>url</key>
                <string>https://github.com/xyaman/tako</string>
            </dict>
        </array>
        <key>title</key>
        <string>Tako</string>
    </dict>
</plist>